* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
    background-image: url("https://www.schemecolor.com/wallpaper?i=1078&desktop");
}

/* sign-in-form */
.main {
    background-color: white;
    border-radius: 10px;
    width: 400px;
    height: 380px;
    position: relative;
    left: 320px;
    top: 100px;
}

h1 {
    text-align: center;
    font-family: 'Bree Serif', serif;
    padding-top: 10px;
}

.input1 {
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
    top: 20px;
    left: 30px;
    width: 320px;
    height: 50px;
}

button {
    width: 320px;
    position: relative;
    left: 30px;
    border-radius: 10px;
}

h5 {
    font-family: 'Baloo Bhai 2', cursive;
    position: relative;
    left: 90px;
}

a {
    text-decoration: none;
}

#icon1 {
    position: relative;
    top: -8px;
    left: 320px;
}

#icon2 {
    position: relative;
    top: 25px;
}

#icon1 {
    display: none;
}

#loader {
    display: none;
}

/* sign-up-form */
.main1 {
    background-color: white;
    border-radius: 10px;
    width: 400px;
    height: 530px;
    position: relative;
    left: 320px;
    top: 40px;
}